.content {
    padding: 20px 40px;
}
.content-top-blank {
    padding-top: 40px;
}

.tip-font {
    font-size: 14px;
    color: #00000059;
    margin: 10px;
}

.tip-font, .tip-font > a {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.tip-font > a {
    color: #1677ff;
}

.un-select {
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.bottom-button-group {
    padding: 8px 8px 8px 8px;
    border-radius: 6px;
    border: 1px solid #d9d9d9;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px);
}

.ant-divider {
    background-color: #d9d9d9;
}